# ======================
# Python
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# ======================
# HuggingFace / Datasets
# ======================
.cache/
datasets/
**/.cache/

# ======================
# Training outputs
# ======================
outputs/
checkpoints/
*.pt
*.pth
*.mp4

# ======================
# OS / Editor
# ======================
.DS_Store
.vscode/
.idea/

# Raw personal videos
src/data/raw/*.mov
src/data/raw/*.MOV
outputs/*.mp4
# Outputs / checkpoints
outputs/
checkpoints/
*.pt
*.pth